@import "tailwindcss";
body {
  font-family: 'Times New Roman', Times, serif;
}

pre {
  white-space: pre-wrap;
  /* word-wrap: break-word;  
  overflow-wrap: break-word;  */
}

.active { 
  @apply bg-gray-100;
}
